/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "https://unpkg.com/open-props";

html {
  font-family: var(--font-sans);
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

table>thead>tr>th {
  vertical-align: bottom;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-3);
  padding: var(--size-2);
}

table>tbody>tr>td {
  padding: var(--size-2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-3);
}

table>tbody>tr:nth-of-type(odd) {
  background-color: var(--gray-1);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 12px;
  gap: 10px;
  border: 1px solid rgb(143, 209, 209);
  width: fit-content;
  border-radius: 5px;
}

.pagination span {
  border-radius: 12px;
  box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
  transition: all 0.3s ease;
  padding: 12px;
}

.pagination a {
  text-decoration: none;
  color: #2d4848
}

.pagination a:hover {
  color: white;
}

.pagination span:hover {
  background-color: #00a3e0;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.pagination .current {
  background-color: #00a3e0;
  color: #ffff;
}

.header_payments_title {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
}

.header_payments_table {
  overflow-y: auto;
  height: 70vh;
}

.header_payments_table thead th {
  position: sticky;
  top: 0;
}

.header_payments_table table {
  border-collapse: collapse;
  width: 100%;
}

.header_payments_table th,
td {
  padding: 8px 15px;
  border: 2px solid #989997;
}

.header_payments_table th {
  background: #989997;
}

.filter_select select {
  font-size: 20px;
  border-radius: 10px;
  background-color: #ffff;
  box-shadow: 1px 1px solid ;
}

.filter_select optgroup {
  font-size: 15px;
  background-color: #ebeeee;
}

.filter_select option {
  font-size: 13px;
  background-color: #fcfeff;
}